@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Syne', sans-serif;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}

#app {
position: relative;
display: flex;
}

button {
  font-size: 22px;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 100px;
  position: relative;
  -webkit-box-shadow: 0px 5px 0px 0px #0000008a;
  box-shadow: 0px 5px 0px 0px #0000008a;
  margin-bottom: 50px;
}

button:active {
  background-color: #30E8BF;
  -webkit-box-shadow: 0px 2px 0px 0px #0000008a;
  box-shadow: 0px 2px 0px 0px #0000008a;
  top: 3px;
}

h3 {
  font-size: 30px;
} 

.loading {
  color: #cf9820;
}


h4 {
  text-align: center;
  font-size: 25px;
}

.divOne {
  position: absolute;
  top: 350px;
  left: 300px;
  width: 300px;
  left: -200px;
}

.divTwo {
  position: absolute;
  top: 350px;
  left: 0;
  width: 200px;
  left: 120px;
}

.circle {
  position: absolute;
  border: 1px solid black;
  padding: 0;
  margin: 1em 100px;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  left: -260px;
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  border: 1px solid #8c7676;
  background: #6ebbe0;
  background-color: #85e279;
  animation-name: example;
  animation-duration: 6s;
}

.text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
}

